{% extends "todo/base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">

        <h1>Remainds Your Task's.</h1>
        <p>Everybody is busy in life. Sometimes we forget what we have to do. So we created <i>remainder</i> application
            to manage all your task. This help you to remaind you what you have to do.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
    </div>
</div>

{% endblock %}